@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular.woff2') format('woff2'),
         url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/RobotoThin.eot');
    src: url('../fonts/RobotoThin.eot') format('embedded-opentype'),
         url('../fonts/RobotoThin.woff2') format('woff2'),
         url('../fonts/RobotoThin.woff') format('woff'),
         url('../fonts/RobotoThin.ttf') format('truetype'),
         url('../fonts/RobotoThin.svg#RobotoThin') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensedBold.eot');
    src: url('../fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBold.woff') format('woff'),
         url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensedLight.eot');
    src: url('../fonts/RobotoCondensedLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedLight.woff2') format('woff2'),
         url('../fonts/RobotoCondensedLight.woff') format('woff'),
         url('../fonts/RobotoCondensedLight.ttf') format('truetype'),
         url('../fonts/RobotoCondensedLight.svg#RobotoCondensedLight') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
